<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Booking Room</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Booking Room", "IndexRoom", "Reserveds", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Всі події", "Index", "Reserveds")</li>
                    <li>@Html.ActionLink("Забронювати кімнату", "IndexRoom", "Reserveds")</li>
                    <li>@Html.ActionLink("Створити подію", "Create", "Reserveds")</li>
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>
                            @Html.ActionLink("Мої події", "MyEvents", "Reserveds")
                        </li>


                        if (ViewBag.CountInvites == null || ViewBag.CountInvites == 0)
                        {

                        }
                        else
                        {
                            <li style="color:white;border-radius:50%;background-color:#337AB7;padding:3px;margin-top: 5px;">
                                <span style="margin-top: 2px;">
                                    &nbsp;&nbsp;@ViewBag.CountInvites&nbsp;&nbsp;

                                </span>
                            </li>
                        }
                    }



                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Адмін", "Admin", "Admin")</li>
                        if (ViewBag.CountGuests == null || ViewBag.CountGuests == 0)
                        {

                        }
                        else
                        {
                            <li style="color:white;border-radius:50%;background-color:#3b8cd1;padding:3px;margin-top: 5px;">
                                <span style="margin-top: 2px;">
                                    &nbsp;&nbsp;@ViewBag.CountGuests&nbsp;&nbsp;

                                </span>
                            </li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div><span id="notification" style="color:red;font-size:15px;"></span></div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Booking Room</p>
        </footer>
    </div>



    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.js"></script>

    <script src="~/Scripts/select2/select2.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {

            var notificationhub = $.connection.notificationHub;

            notificationhub.client.displayMessage = function (msg) {

                //$('#notification').html(message);
                //alert(message);

                
                var dialog = bootbox.dialog({

                    message: '<p class="text-center mb-0 text-success">' + msg + '</p>',
                    closeButton: false,
                    size: "small",
                    buttons: {
                        ok: {
                            callback: function () {
                                dialog.hide();
                            }
                        },
                        check: {
                            callback: function () {
                                alert("checked");
                            }
                        }
                    }
                });

                //dialog.init(function () {
                //    setTimeout(function () {
                //        dialog.find('.bootbox-body').html('');
                //        dialog.hide();
                //    }, 5000);
                //});
            };

            $.connection.hub.start();

        });
    </script>

</body>
</html>
