@model IEnumerable<Booking.Models.Room>

@{
    ViewBag.Title = "Booking";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MinTime) |
            @Html.DisplayNameFor(model => model.Time) |
            @Html.DisplayNameFor(model => model.MaxTime) |
            @Html.DisplayNameFor(model => model.MaxPeople) 
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MinTime) |

                @Html.DisplayFor(modelItem => item.Time) |

                @Html.DisplayFor(modelItem => item.MaxTime) |

                @Html.DisplayFor(modelItem => item.MaxPeople)
            </td>
        </tr>
    }

</table>
