@model PagedList.IPagedList<Booking.Models.RoomViewModels.IndexRoomViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div id="container">
    <div id="head">
        <span>NameRoom</span>
        <span>Date</span>
        <span>MinTime</span>
        <span>MaxTime</span>
        <span>MaxPeople</span>
        <span>Reserve</span>
    </div>



    @foreach (var item in Model)
    {
<div id="Room">


    @using (Html.BeginForm("Reserve", "Rooms", FormMethod.Get))
    {


      
        <input name="NameRoom" value="@item.NameRoom" hidden />
        <input name="RoomId" value="@item.RoomId" hidden />

        <span id="NameRoom" name="NameRoom">@item.NameRoom</span>
        <span id="Date" name="Date">@item.Date.ToString("dd-MM-yyyy")</span>
        <span id="MinTime" name="MinTime">@item.MinTime</span>
        <span id="MaxTime" name="MaxTime">@item.MaxTime</span>
        <span id="MaxPeole" name="MaxPeole">@item.MaxPeople</span>

        <input type="submit" value="Reserve" onclick="this.form.submit();" />
        @*@Html.ActionLink("Reserve", "Reserve", new { room = item, onclick="this.form.submit();" })*@
    }
</div>
    }




</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))