@model IEnumerable<Booking.Entity_Models.Room>

@{
    ViewBag.Title = "Index";
}

<div id="container">
    <div id="head">
        <span>@Html.DisplayNameFor(model => model.NameRoom) </span>
        <span>@Html.DisplayNameFor(model => model.Date)     </span>
        <span>@Html.DisplayNameFor(model => model.MinTime)  </span>
        <span>@Html.DisplayNameFor(model => model.MaxTime)  </span>
        <span>@Html.DisplayNameFor(model => model.MaxPeople)</span>
        <span>Reserve</span>
    </div>



    @foreach (var item in Model)
    {
        <div id="Room">


            @using (Html.BeginForm("Reserve", "Rooms", FormMethod.Get))
            {


                <input name="RoomId" value="@item.RoomId" hidden />
                <span id="NameRoom" name="NameRoom">@item.NameRoom</span>
                <span id="Date" name="Date">@item.Date.ToString("dd-MM-yyyy")</span>
                <span id="MinTime" name="MinTime">@item.MinTime</span>
                <span id="MaxTime" name="MaxTime">@item.MaxTime</span>
                <span id="MaxPeole" name="MaxPeole">@item.MaxPeople</span>

                <input type="submit" value="Reserve" onclick="this.form.submit();" />
            }
        </div>
    }




</div>
<br />
