@model IEnumerable<Booking.Entity_Models.Room>

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>



<div class="allRooms">
    @foreach (var item in Model)
    {
        <hr />
        <div class="Room">
            <p>
                Name
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                Min time:
                @Html.DisplayFor(modelItem => item.MinTime)
            </p>
            <p>
                Busy time:
                @Html.DisplayFor(modelItem => item.BusyTime)
            </p>
            <p>
                Max time:
                @Html.DisplayFor(modelItem => item.MaxTime)
            </p>
            <p>
                Max people:
                @Html.DisplayFor(modelItem => item.MaxPeople)
            </p>

            @Html.ActionLink("GetRoom", "GetRoom", new { id = item.RoomId }) |
        </div>
    }

</div>