@model IEnumerable<Booking.Models.RolesViewModel>
@{
    ViewBag.Title = "Контроль ролей";
}



<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-top">

                <div id="searchresults">
                    <!-- Start column -->
                    @foreach (var user in Model)
                    {
                        <div class="col-md-3 col-sm-3 col-xs-12" style="margin-bottom: 30px;">
                            <div class="single-team-member">
                                <div class="team-img">
                                </div>
                                <div class="team-content text-center" style="background-color:#fafafa;">
                                    <div style="cursor:pointer;">
                                        <h5 style="color:#3ec1d5;">@Html.DisplayFor(modelItem => user.UserName)</h5>


                                        @using (Html.BeginForm("ChangeRole", "Admin", FormMethod.Get))
                                        {
                                            <p>
                                                @Html.TextBox("UserId", user.UserId, new { hidden = "hidden" })
                                                Email: @user.UserEmail
                                            </p>
                                            @Html.TextBox("UserName", user.UserEmail, new { hidden = "hidden" })

                                            foreach (var role in user.RoleNames)
                                            {
                                                <p>
                                                    Роль: @role
                                                    @Html.TextBox("RoleNames", role, new { hidden = "hidden" })

                                                </p>
                                                <p>
                                                    @Html.DropDownList("ChangeRoleTo", user.RolesList, new { @class = "form-control pull-right" })
                                                    @if (role == "Guest")
                                                    {

                                                        <input type="submit" class="btn btn-primary pull-right" value="Змінити" onclick="this.form.submit();" />

                                                    }
                                                    else
                                                    {
                                                        <input type="submit" class="btn btn-default pull-right" value="Змінити" onclick="this.form.submit();" />

                                                    }


                                                </p>

                                            }

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <!-- End column -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team Area -->
@*@Html.PagedListPager(Model, page => Url.Action("GetRoles", new { page }))*@



@*<table class="table" style="margin-top:50px;">
        <tr>
            <td>
                Ім'я користувача
            </td>
            <td>Активний статус</td>
            <td>Змінити на</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>

                @using (Html.BeginForm("ChangeRole", "Admin", FormMethod.Get))
                {
                    <td>
                        @Html.TextBox("UserId", user.UserId, new { hidden = "hidden" })
                        @user.UserName
                    </td>
                    @Html.TextBox("UserName", user.UserName, new { hidden = "hidden" })

                    foreach (var role in user.RoleNames)
                    {



                        <td>
                            @role
                            @Html.TextBox("RoleNames", role, new { hidden = "hidden" })

                        </td>

                        <td>
                            @Html.DropDownList("ChangeRoleTo", user.RolesList, new { @class = "form-control pull-right" })
                            @if (role == "Guest")
                            {
                                <input type="submit" class="btn btn-primary pull-right" value="Змінити" onclick="this.form.submit();" />

                            }
                            else
                            {
                                <input type="submit" class="btn btn-default pull-right" value="Змінити" onclick="this.form.submit();" />

                            }


                        </td>

                    }

                }

            </tr>

        }

    </table>*@
