@model IEnumerable<Booking.Models.RolesViewModel>
@{
    ViewBag.Title = "Контроль статусів";
}


<table class="table" style="margin-top:50px;">
    <tr>
        <td>
            Ім'я користувача
        </td>
        <td>Активний статус</td>
        <td>Змінити на</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>

            @using (Html.BeginForm("ChangeRole", "Admin", FormMethod.Get))
            {
                <td>
                    @Html.TextBox("UserId", user.UserId, new { hidden = "hidden" })
                    @user.UserName
                </td>
                @Html.TextBox("UserName", user.UserName, new { hidden = "hidden" })

                foreach (var role in user.RoleNames)
                {

                    
                    
                        <td>
                            @role
                            @Html.TextBox("RoleNames", role, new { hidden = "hidden" })

                        </td>
                    
                        <td>
                            @*select will be here*@
                            @*@Html.DropDownList("allRoles", ViewBag.allRoles as SelectList, new { @class = "allRoles form-control" })*@
                            @Html.DropDownList("ChangeRoleTo", user.RolesList, new { @class = "form-control pull-right" })
                            @if (role == "Guest")
                            {
                                <input type="submit" class="btn btn-primary pull-right" value="Змінити" onclick="this.form.submit();" />

                            }
                            else
                            {
                            <input type="submit" class="btn btn-default pull-right" value="Змінити" onclick="this.form.submit();" />

                            }


                        </td>

                }

            }

        </tr>

    }

</table>

@section Scripts {
    @*@Scripts.Render("~/Scripts/ReservedDate.js")*@
    <script>
                    //$(document).ready(function () {
                    //    $(".allRoles").select2({
                    //        placeholder: "Змінити роль"
                    //    });
                    //});

    </script>
}