@model PagedList.IPagedList<Booking.Models.RoomViewModels.IndexRoomViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NameRoom
        </th>
        <th>
            Date
        </th>
        <th>
            MinTime
        </th>
        <th>
            MaxTime
        </th>
        <th>
            MaxPeople
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameRoom)
            </td>
            <td>
                @item.Date.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPeople)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RoomId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoomId })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))