@model Booking.Models.ChatModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Чат на Ajax и JQuery</title>
    @Styles.Render("~/Content/StyleSheet1.css")
</head>
<body>
    <div id="Username">
    </div>
    <div id="LastRefresh">
    </div>
    <div id="container">
        <div id="loginBlock">
            Введите имя :
            <input type="text" id="txtUserName" />
            <button id="btnLogin" value="Войти">Войти</button>
        </div>
    </div>
    <div id="Error">
    </div>
    @Ajax.ActionLink("Login", "Index", new { user = "" },
        new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" },
        new { @id = "LoginButton", @style = "visibility:hidden;" })

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/chat.js")
</body>
</html>