@model Booking.Models.ReservedViewModels.DetailsReserveViewModel

@{
    ViewBag.Title = "Деталі";
}

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedTimeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedTimeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedTimeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedTimeTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedUsersEmails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedUsersEmails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcceptedEmails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptedEmails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeniedEmails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeniedEmails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ReservedId }) |
    @Html.ActionLink("Всі події", "Index")
</p>
