@model Booking.Models.ReservedViewModels.DetailsReserveViewModel

@{
    ViewBag.Title = "Деталі";
}

<table class="table">
    <tr>
        <td>
            Подія
        </td>
        <td>
            Кімната
        </td>
        <td>
            Опис
        </td>
        <td>
            Дата
        </td>
        <td>
            Час початку
        </td>
        <td>
            Час кінця
        </td>
        <td>
            Запрошені
        </td>
        <td>
            Прийняли
        </td>
        <td>
            Відхилили
        </td>
        <td>
            Приватна
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.EventName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Room.NameRoom)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.ReservedDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.ReservedTimeFrom)
        </td>
        <td>
            @Html.DisplayFor(model => model.ReservedTimeTo)
        </td>
        <td>
            @Html.DisplayFor(model => model.SelectedUsersEmails)
        </td>
        <td>
            @Html.DisplayFor(model => model.AcceptedEmails)
        </td>
        <td>
            @Html.DisplayFor(model => model.DeniedEmails)
        </td>
        <td>
            @Html.DisplayFor(model => model.IsPrivate)
            @*@Html.Hidden("IsPrivate", Model.IsPrivate)*@
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Мої події", "MyEvents", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ReservedId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Видалити", "Delete", new { id = Model.ReservedId }, new { @class = "btn btn-default" })
</p>
