@model PagedList.IPagedList<Booking.Models.RoomViewModels.IndexRoomViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Головна";
}

<div id="container">
    <div id="head">
        <span>Кімната</span>
        <span>Працює з</span>
        <span>Працює до</span>
        <span>Макс. людей</span>

    </div>



    @foreach (var item in Model)
    {
        <div id="Room">


            @using (Html.BeginForm("Reserve", "Reserveds", FormMethod.Get))
            {



                @*<input name="NameRoom" value="@item.NameRoom" hidden />*@
                <input name="RoomId" value="@item.RoomId" hidden />

                <span id="NameRoom" name="NameRoom">@item.NameRoom</span>

                <span id="MinTime" name="MinTime">@item.MinTime</span>
                <span id="MaxTime" name="MaxTime">@item.MaxTime</span>
                <span id="MaxPeole" name="MaxPeole">@item.MaxPeople</span>

                <input type="button" value="Забронювати" class="btn btn-default" onclick="this.form.submit();" />
                @*@Html.ActionLink("Reserve", "Reserve", new { room = item, onclick="this.form.submit();" })*@
            }
        </div>
    }




</div>
<br />
<div>
    @if (Model.PageCount > 1)
    {
        <span>
            Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

        </span>
    }
    @Html.PagedListPager(Model, page => Url.Action("IndexRoom", new { page }))
</div>