@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@using PagedList.Mvc;


@*@model IEnumerable<Booking.Entity_Models.Reserved>*@
@{
    ViewBag.Title = "Reserved";
}
<br />
<div>
    фыва
    <input type="text" name="name" />
    <input type="submit" value="Submit" id="submit" class="btn-primary" />

</div>

@*<div>
        @using (Ajax.BeginForm("SearchRoom", new AjaxOptions
        {
            UpdateTargetId = "searchresults",

        }))
        {   <br />
            <div>
                <input type="text" name="name" />
                <input type="submit" value="Поиск" class="btn-primary" />

            </div>
        }

        <div id="searchresults"></div>
    </div>*@
<br />
<table class="table">

    <tr>
        <th>
            Room
        </th>
        <th>
            Event
        </th>
        <th>
            Date
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Owner
        </th>
        <th>
            Users
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.NameRoom)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.ReservedDate)
                @item.ReservedDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeTo)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedUsersEmails)
            </td>
            <td>
                @if (item.UserId == ViewBag.CurrentId)
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservedId })
                    </p>

                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.ReservedId })
                    </p>
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservedId })
                    </p>

                }


                @*@Html.ActionLink("Add Users", "AddUsersToEvent", new { ReservedId = item.ReservedId })*@
                @*@Html.ActionLink("AddList", "AddList", new { id = item.ReservedId })*@


            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))




@section Scripts {

    <script>

$(function () {

    $("#submit").click(function ()
    {
        //var name = $('#name').val();
        $.ajax({
        url: '/api/Rooms',
        type: 'GET',
        dataType: "text",
            success: function (data) {
                alert(data);
        },
        error: function () {
            alert("error");
        }
    });

    });
    </script>
}