@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@using PagedList.Mvc;


@*@model IEnumerable<Booking.Entity_Models.Reserved>*@
@{
    ViewBag.Title = "Reserved";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    @using (Ajax.BeginForm("SearchRoom", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        Confirm = "Выполнить AJAX-запрос?"
    }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" class="btn-primary" />
        @*<span id="loading" style="display:none; color:Red; font-weight:bold;">
                Идет загрузка...
            </span>*@
        <img id="loading" src="@Url.Content("~/Images/loader.gif")" style="display:none" />
    }

    <div id="results"></div>
</div>
<br />
<table class="table">

    <tr>
        <th>
            NameRoom
        </th>
        <th>
            EventName
        </th>
        <th>
            ReservedDate
        </th>
        <th>
            ReservedTimeFrom
        </th>
        <th>
            ReservedTimeTo
        </th>
        <th>
            @*Owner*@
        </th>
        <th>
            SelectedUsersEmails
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.NameRoom)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeTo)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedUsersEmails)
            </td>
            <td>
                @if (item.OwnerId == ViewBag.CurrentId)
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservedId })
                    </p>

                    <p>
                        @Html.ActionLink("Details", "Details", new { id = item.ReservedId })
                    </p>
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservedId })
                    </p>

                }
                

                @*@Html.ActionLink("Add Users", "AddUsersToEvent", new { ReservedId = item.ReservedId })*@
                @*@Html.ActionLink("AddList", "AddList", new { id = item.ReservedId })*@


            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))