@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Всі події";
}



@using (Ajax.BeginForm("SearchRoom", new AjaxOptions
{
    UpdateTargetId = "searchresults",

}))
{

    <div>
        <input type="text" name="name" class="form-control pull-left" placeholder="Подія, кімната, організатор" />
        <input type="submit" value="Пошук" class="btn btn-primary pull-left" />
    </div>
}
<br />
<br />
<div id="searchresults" class="pull-left" style="width:100%;"></div>

<br />
@*<p>
        <input type="button" value="Count" id="count" class="btn-success" />
    </p>
    <br />*@
<table class="table table-hover">

    <tr>
        <th>
            Кімната
        </th>
        <th>
            Подія
        </th>
        <th>
            Дата
        </th>
        <th>
            Час початку
        </th>
        <th>
            Час кінця
        </th>
        <th>
            Організатор
        </th>
        <th>
            Приватна
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr onclick="redirectTo(@item.ReservedId);" style="cursor:pointer;">
            <td>
                @*@Html.Hidden(item.ReservedId.ToString())*@
                @*<input class="ReservedId" value="@item.ReservedId" hidden />*@
                @Html.HiddenFor(modelItem => item.SelectedUsersEmails)
                @Html.HiddenFor(modelItem => item.AcceptedEmails)
                @Html.HiddenFor(modelItem => item.DeniedEmails)
                @Html.HiddenFor(modelItem => item.Description)
                @Html.HiddenFor(modelItem => item.RoomId)
                @Html.HiddenFor(modelItem => item.UserId)

                @Html.DisplayFor(modelItem => item.Room.NameRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.ReservedDate)
                @item.ReservedDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeTo)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)

            </td>

            <td>
                @if (item.ReservedDate < DateTime.Today ||
                (item.ReservedDate == DateTime.Today &&
                item.ReservedTimeFrom < DateTime.Now.TimeOfDay))
                {
                    <p>Подія вже відбулася</p>
                }else if (!item.IsPrivate && item.UserId != ViewBag.CurrentId)
                {
                    if (!string.IsNullOrEmpty(item.AcceptedEmails) && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                    {
                        @Html.ActionLink("Скасувати", "ToCome", new { id = item.ReservedId, toCome = false },
                       new { @class = "btn btn-default" })
                    }
                    else
                    {

                        @Html.ActionLink("Прийти", "ToCome", new { id = item.ReservedId, toCome = true },
                       new { @class = "btn btn-default" })
                    }

                }
                else
                {

                    @Html.ActionLink("Прийти", "ToCome", new { id = item.ReservedId, toCome = true },
                       new { @class = "btn btn-default disabled" })
                }

            </td>

        </tr>
    }

</table>
<br />
@if (Model.PageCount > 1)
{
    <span>
        Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

    </span>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@section Scripts {
    <script>
        function redirectTo(id) {

            var url = "/Reserveds/Details/" + id;
            window.location.href = url;
        };
        function onSuccess() {
            alert("onSuccess");
        };
        function onFailure() {
            alert("onFailure");
        };

        function ToCome(id) {
            alert("start");
            //var toComeData = {
            //    id = id,
            //    toCome = true
            //}
            $.ajax({
                type: "POST",
                url: '/Reserveds/ToCome',
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {
                    $('#toCome').addClass('disabled');
                    alert("Готово" + data);
                },
                error: function () {
                    alert("Помилка");
                }
            });
            alert("end");
        };
    </script>
}