@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Всі події";
}

<br />
<br />
<br />
<br />
<br />
@using (Ajax.BeginForm("SearchEvents", new AjaxOptions
{
    UpdateTargetId = "searchresults"
}))
{
    <div class="container" id="simpleButtons">
        <div class="row">
            <div class='col-sm-12 text-center center-block'>
                <input type="text" name="name" class="text-center form-control" placeholder="Подія, кімната, організатор" />

                <br />

                <input type="submit" value="Пошук" class="btn btn-default " />
                <a class="btn btn-default litleIcons" id="showMore" href="#" aria-label="Settings" title="Публічна">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>

            </div>

        </div>
    </div>

}

@using (Ajax.BeginForm("SearchMoreEvents", new AjaxOptions
{
    UpdateTargetId = "searchresults"

}))
{
    <div id="moreFilters" hidden>
        <div class="container">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' id="SearchUserName" name="UserName" class="form-control text-center" placeholder="Ім'я організатора" />
                            <span class="input-group-addon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' id="SearchRoomName" name="RoomName" class="form-control text-center" placeholder="Кімната" />
                            <span class="input-group-addon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' id="SearchEventName" name="EventName" class="form-control text-center" placeholder="Подія" />
                            <span class="input-group-addon">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' id="SearchEventDescription" name="EventDescription" class="form-control text-center" placeholder="Опис події" />
                            <span class="input-group-addon">
                                @*<i class="fa fa-file-text" aria-hidden="true"></i>*@
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' id="SearchRoomDescription" name="RoomDescription" class="form-control text-center" placeholder="Опис кімнати" />
                            <span class="input-group-addon">
                                @*<i class="fa fa-file-text" aria-hidden="true"></i>*@
                            </span>
                        </div>
                    </div>
                </div>
                @*time only from*@
                @*time only to*@
                @*<div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker3'>
                            <input type='text' id="SearchReservedTimeFrom" name="ReservedTimeFrom" class="form-control text-center" placeholder="Час початку" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='SearchReservedTimeTo'>
                            <input type='text' name="ReservedTimeTo" class="form-control text-center" placeholder="Час кінця" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>*@

                @*date only*@
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' id="SearchReservedDate" name="ReservedDate" class="form-control text-center" placeholder="Дата" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3 center-block'>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="SearchIsPrivate" name="IsPrivate" onclick="IsPrivateValue();" class="custom-control-input">
                        <label class="custom-control-label litleIcons" style="background-color:#eee;cursor:pointer;" for="SearchIsPrivate">
                            Приватна
                            <i class="fa fa-lock"></i>
                            @*<a class="btn btn-default litleIcons" href="#" aria-label="Settings" title="Приватна" style="background-color:#eee;">
                                </a>*@
                        </label>
                    </div>

                </div>
                <div class='col-sm-12 text-center center-block'>

                    <input type="submit" class="btn btn-default" value="Розширений пошук" />
                    <a class="btn btn-default litleIcons" id="showSimple" href="#" aria-label="Settings" title="Публічна">
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
}

<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="team-top">
                <div id="searchresults">
                    <!-- Start column -->
                    @foreach (var item in Model)
                    {


                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-content text-justify" style="background-color:#fafafa;padding:10px;">
                                    <div style="text-align:center;">
                                        <span style="float:right;margin-right:10px;color:#3EC1D5;font-size:1.2em;">

                                            <i class="fa fa-info-circle" aria-hidden="true" onclick="redirectTo(@item.ReservedId);" style="cursor:pointer;"></i>
                                        </span>
                                        <h4 style="color:#3ec1d5;">
                                            @Html.DisplayFor(modelItem => item.EventName)

                                        </h4>

                                        <p>

                                            <i class="fa fa-home" aria-hidden="true">
                                                @Html.DisplayFor(modelItem => item.Room.NameRoom)
                                                <input name="ContentNameRoom" value="@item.Room.NameRoom" hidden />
                                            </i>



                                        </p>
                                        <span>

                                            @Html.HiddenFor(modelItem => item.SelectedUsersEmails)
                                            @Html.HiddenFor(modelItem => item.AcceptedEmails)
                                            @Html.HiddenFor(modelItem => item.DeniedEmails)
                                            @Html.HiddenFor(modelItem => item.Description)
                                            @Html.HiddenFor(modelItem => item.RoomId)
                                            @Html.HiddenFor(modelItem => item.UserId)
                                        </span>

                                        <p>


                                            <span class="glyphicon glyphicon-calendar"></span>
                                            @*@Html.HiddenFor(modelItem => item.ReservedDate)*@
                                            @item.ReservedDate.ToString("dd-MM-yyyy")
                                            <input name="ContentReservedDate" value="@item.ReservedDate" hidden />

                                        </p>
                                        <p>

                                            <span class="glyphicon glyphicon-time"></span>

                                            @Html.DisplayFor(modelItem => item.ReservedTimeFrom) -
                                            @Html.DisplayFor(modelItem => item.ReservedTimeTo)
                                        </p>
                                        <p>


                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            @Html.DisplayFor(modelItem => item.User.UserName)
                                            <input name="ContentUserName" value="@item.User.UserName" hidden />

                                        </p>
                                        <p>
                                            @if (item.IsPrivate)
                                            {
                                                <i class="fa fa-lock"> Приватна</i>

                                            }
                                            else
                                            {
                                                <i class="fa fa-unlock"> Публічна</i>
                                            }
                                            @Html.HiddenFor(modelItem => item.IsPrivate)
                                        </p>
                                        <p>

                                            @if (item.ReservedDate < DateTime.Today ||
                                            (item.ReservedDate == DateTime.Today &&
                                            item.ReservedTimeFrom < DateTime.Now.TimeOfDay))
                                            {

                                                <i class="fa fa-hourglass-end" aria-hidden="true"> Подія вже відбулася</i>


                                            }
                                            else if (item.UserId == ViewBag.CurrentId)
                                            {
                                                @*<span>
                                                        Ви організатор
                                                    </span>*@
                                                <a href="@Url.Action("Edit",new
                                                    {
                                                        id = item.ReservedId
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-cog" aria-hidden="true"> Редагувати</i>
                                                </a>
                                                <a href="@Url.Action("Delete",new
                                                    {
                                                        id = item.ReservedId
                                                    })" aria-label="Delete">
                                                    <i class="fa fa-trash-o text-danger" aria-hidden="true"> Видалити</i>
                                                </a>
                                            }
                                            //прийняв, можливість скасувати
                                            else if (!string.IsNullOrEmpty(item.AcceptedEmails) && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                                            {

                                                <i class="fa fa-check-circle-o text-success" aria-hidden="true"> Прийнято</i>
                                                <a href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = false
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-times-circle text-danger" aria-hidden="true"> Скасувати</i>
                                                </a>
                                            }
                                            //запрошений, можливість прийняти/скасувати
                                            else if (!string.IsNullOrEmpty(item.SelectedUsersEmails) && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                                            {
                                                <a href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentEmail,
                                                        accept = true
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-check-circle text-success" aria-hidden="true"> Прийняти</i>
                                                </a>
                                                <a href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentEmail,
                                                        accept = false
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-times-circle text-danger" aria-hidden="true"> Відхилити</i>
                                                </a>
                                            }
                                            //не організатор, приватна
                                            else if (item.IsPrivate)
                                            {
                                                <span class="text-warning">
                                                    Обмежений вхід
                                                </span>
                                            }//публічна
                                            else
                                            {
                                                <a href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = true
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-check-circle text-success" aria-hidden="true"> Приєднатися</i>
                                                </a>
                                            }
                                        </p>


                                        <div class="hidden">

                                            @if (!item.IsPrivate && item.UserId != ViewBag.CurrentId)
                                            {
                                                if (!string.IsNullOrEmpty(item.AcceptedEmails) && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                                                {
                                                    <a class="btn btn-default btn-default disabled" href="#" aria-label="Settings">
                                                        <i class="fa fa-toggle-on text-success" aria-hidden="true"> Прийнято</i>
                                                    </a>
                                                    <a class="btn btn-default" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = false
                                                    })" aria-label="Settings">
                                                        <i class="fa fa-times-circle text-danger" aria-hidden="true"> Скасувати</i>
                                                    </a>
                                                    @*@Html.ActionLink("Скасувати", "ToCome", new { id = item.ReservedId, toCome = false },
                                                        new { @class = "btn btn-default" })*@
                                                }
                                                else if (!string.IsNullOrEmpty(item.SelectedUsersEmails) && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                                                {
                                                    <a class="btn btn-default" href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentName,
                                                        accept = true
                                                    })" aria-label="Settings">
                                                        <i class="fa fa-check-circle text-success" aria-hidden="true"> Прийняти</i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-default" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = true
                                                    })" aria-label="Settings">
                                                        <i class="fa fa-check-circle text-success" aria-hidden="true"> Приєднатися</i>
                                                    </a>
                                                    @*@Html.ActionLink("Прийти", "ToCome", new { id = item.ReservedId, toCome = true },
                                                        new { @class = "ready-btn" })*@
                                                }

                                            }
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-sm-12 center-block text-center">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>

                    <!-- End column -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team Area -->

<style>
    .litleIcons {
        padding: 9px 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1em;
        color: #555;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /*#searchresults a {
        color: #555555;
        font-size: 16px;
    }*/
</style>

@section Scripts {
    <script>
        function IsPrivateValue() {
            var isPrivate = $("#SearchIsPrivate").is(":checked");
            $('#SearchIsPrivate').val(isPrivate);
        };
        function redirectTo(id) {

            var url = "/Reserveds/Details/" + id;
            window.location.href = url;
        };
        function onSuccess() {
            alert("onSuccess");
        };
        function onFailure() {
            alert("onFailure");
        };
        function ToCome(id) {
            alert("start");
            //var toComeData = {
            //    id = id,
            //    toCome = true
            //}
            $.ajax({
                type: "POST",
                url: '/Reserveds/ToCome',
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {
                    $('#toCome').addClass('disabled');
                    alert("Готово" + data);
                },
                error: function () {
                    alert("Помилка");
                }
            });
            alert("end");
        };
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'HH mm'

            });
            $('#SearchReservedTimeTo').datetimepicker({
                format: 'HH mm'

            });
            $('#datetimepicker2').datetimepicker({
                locale: 'uk',
                format: 'L'
            });
        });
        $(function () {
            $('#showMore').click(function () {
                $('#simpleButtons').hide(1000);
                $('#moreFilters').show(1000);
            });
            $('#showSimple').click(function () {
                $('#simpleButtons').show(1000);
                $('#moreFilters').hide(1000);
            });
            $('#customCheck1').change(function () {
                var IsPrivate = $("#customCheck1").is(":checked");
                $('#customCheck1').val(IsPrivate);
            });

        });
        function byButton() {
            alert("start");
            var SearchViewModel = {
                'EventName': $("#SearchEventName").val(),
                'RoomName': $("#SearchRoomName").val(),
                'UserName': $("#SearchUserName").val(),
                'EventDescription': $("#SearchEventDescription").val(),
                'RoomDescription': $("#SearchRoomDescription").val(),
                'ReservedDate': $("#SearchReservedDate").val(),
                'ReservedTimeFrom': $("#SearchReservedTimeFrom").val(),
                'ReservedTimeTo': $("#RSearcheservedTimeTo").val(),
                'IsPrivate': $("#SearchIsPrivate").is(":checked")
            }
            $.ajax({
                type: "POST",
                url: '/Reserveds/SearchMoreEvents',
                data: JSON.stringify(SearchViewModel),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {

                    alert("Готово" + data);
                },
                error: function () {
                    alert("Помилка");
                }
            });

        };
    </script>
}
