@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Всі події";
}

<br />
<br />
<br />
<br />
<br />
@using (Ajax.BeginForm("SearchEvents", new AjaxOptions
{
    UpdateTargetId = "searchresults",

}))
{
    <div class="container" id="simpleButtons">
        <div class="row">
            <div class='col-sm-12 text-center center-block'>
                <input type="text" name="name" class="text-center form-control" placeholder="Подія, кімната, організатор" />

                <br />

                <input type="submit" value="Пошук" class="btn btn-default " />
                <a class="btn btn-default litleIcons" id="showMore" href="#" aria-label="Settings" title="Публічна">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </a>

            </div>

        </div>
    </div>

}

@using (Ajax.BeginForm("SearchMoreEvents", new AjaxOptions
{
    UpdateTargetId = "searchresults",

}))
{
    <div id="moreFilters" hidden>
        <div class="container">
            <div class="row">
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' name="UserName" class="form-control text-center" placeholder="Ім'я організатора" />
                            <span class="input-group-addon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' name="RoomName" class="form-control text-center" placeholder="Кімната" />
                            <span class="input-group-addon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group'>
                            <input type='text' name="EventName" class="form-control text-center" placeholder="Подія" />
                            <span class="input-group-addon">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                @*time only from*@
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' name="ReservedTimeFrom" id='datetimepicker3'>
                            <input type='text' class="form-control text-center" placeholder="Час початку" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>
                @*time only to*@
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' name="ReservedTimeTo" id='datetimepicker4'>
                            <input type='text' class="form-control text-center" placeholder="Час кінця" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>

                @*date only*@
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' name="ReservedDate" id='datetimepicker2'>
                            <input type='text' class="form-control text-center" placeholder="Дата" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3 center-block'>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="IsPrivate" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label litleIcons" style="background-color:#eee;cursor:pointer;" for="customCheck1">
                            Приватна
                            <i class="fa fa-lock"></i>
                            @*<a class="btn btn-default litleIcons" href="#" aria-label="Settings" title="Приватна" style="background-color:#eee;">
                                </a>*@
                        </label>
                    </div>

                </div>
                <div class='col-sm-12 text-center center-block'>

                    <input type="submit" class="btn btn-default" value="Розширений пошук" />
                    <a class="btn btn-default litleIcons" id="showSimple" href="#" aria-label="Settings" title="Публічна">
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
}

<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="team-top">
                <div id="searchresults">
                    <!-- Start column -->
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-content text-center" style="background-color:#fafafa;">
                                    <div onclick="redirectTo(@item.ReservedId);" style="cursor:pointer;">
                                        <h4 style="color:#3ec1d5;">@Html.DisplayFor(modelItem => item.EventName)</h4>
                                        <p>
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            @Html.DisplayFor(modelItem => item.Room.NameRoom)
                                        </p>
                                        <span>
                                            @*@Html.Hidden(item.ReservedId.ToString())*@
                                            @*<input class="ReservedId" value="@item.ReservedId" hidden />*@

                                            @Html.HiddenFor(modelItem => item.SelectedUsersEmails)
                                            @Html.HiddenFor(modelItem => item.AcceptedEmails)
                                            @Html.HiddenFor(modelItem => item.DeniedEmails)
                                            @Html.HiddenFor(modelItem => item.Description)
                                            @Html.HiddenFor(modelItem => item.RoomId)
                                            @Html.HiddenFor(modelItem => item.UserId)
                                        </span>

                                        <p>
                                            @*<i class="fa fa-calendar"></i>*@
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            @Html.HiddenFor(modelItem => item.ReservedDate)
                                            @item.ReservedDate.ToString("dd-MM-yyyy")
                                        </p>
                                        <p>
                                            @*<i class="fa fa-hourglass-1" aria-hidden="true"></i>*@
                                            <span class="glyphicon glyphicon-time"></span>
                                            @Html.DisplayFor(modelItem => item.ReservedTimeFrom) -
                                            @Html.DisplayFor(modelItem => item.ReservedTimeTo)
                                        </p>
                                        <p>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            @Html.DisplayFor(modelItem => item.User.UserName)
                                        </p>
                                        <p>
                                            @if (item.IsPrivate)
                                            {
                                                <i class="fa fa-lock"> Приватна</i>

                                            }
                                            else
                                            {
                                                <i class="fa fa-unlock"> Публічна</i>
                                            }
                                            @Html.HiddenFor(modelItem => item.IsPrivate)
                                        </p>
                                        <p>
                                            @if (item.ReservedDate < DateTime.Today ||
                                            (item.ReservedDate == DateTime.Today &&
                                            item.ReservedTimeFrom < DateTime.Now.TimeOfDay))
                                            {
                                            <p>
                                                @*<i class="fa fa-hourglass-end" aria-hidden="true"></i>*@

                                                <a class="btn btn-default disabled" href="#" aria-label="Settings">
                                                    <i class="fa fa-hourglass-end" aria-hidden="true"> Подія вже відбулася</i>
                                                </a>
                                            </p>
                                        }
                                        else if (!item.IsPrivate && item.UserId != ViewBag.CurrentId)
                                        {
                                            if (!string.IsNullOrEmpty(item.AcceptedEmails) && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                                            {
                                                <a class="btn btn-default" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = false
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-times-circle text-danger" aria-hidden="true"> Скасувати</i>
                                                </a>
                                                @*@Html.ActionLink("Скасувати", "ToCome", new { id = item.ReservedId, toCome = false },
                                                    new { @class = "btn btn-default" })*@
                                            }
                                            else if (!string.IsNullOrEmpty(item.SelectedUsersEmails) && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                                            {
                                                <a class="btn btn-default" href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentName,
                                                        accept = true
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-check-circle text-success" aria-hidden="true"> Прийняти</i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-default" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = true
                                                    })" aria-label="Settings">
                                                    <i class="fa fa-check-circle text-success" aria-hidden="true"> Приєднатися</i>
                                                </a>
                                                @*@Html.ActionLink("Прийти", "ToCome", new { id = item.ReservedId, toCome = true },
                                                    new { @class = "ready-btn" })*@
                                            }

                                        }
                                        else
                                        {
                                            <a class="btn btn-default disabled" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = true
                                                    })" aria-label="Settings">
                                                <i class="fa fa-check-circle" aria-hidden="true"> Організатор</i>
                                            </a>
                                            @*@Html.ActionLink("Прийти", "ToCome", new { id = item.ReservedId, toCome = true },
                                                new { @class = "btn btn-default disabled" })*@
                                        }


                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    <div style="text-align:center;">

                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>

                    <!-- End column -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team Area -->

<style>
    .litleIcons {
        padding: 9px 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1em;
        color: #555;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>

@section Scripts {
    <script>
        function redirectTo(id) {

            var url = "/Reserveds/Details/" + id;
            window.location.href = url;
        };
        function onSuccess() {
            alert("onSuccess");
        };
        function onFailure() {
            alert("onFailure");
        };
        function ToCome(id) {
            alert("start");
            //var toComeData = {
            //    id = id,
            //    toCome = true
            //}
            $.ajax({
                type: "POST",
                url: '/Reserveds/ToCome',
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {
                    $('#toCome').addClass('disabled');
                    alert("Готово" + data);
                },
                error: function () {
                    alert("Помилка");
                }
            });
            alert("end");
        };
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'HH mm'

            });
            $('#datetimepicker4').datetimepicker({
                format: 'HH mm'

            });
            $('#datetimepicker2').datetimepicker({
                locale: 'uk',
                format: 'L'
            });
        });
        $(function () {
            $('#showMore').click(function () {
                $('#simpleButtons').hide(1000);
                $('#moreFilters').show(1000);
            });
            $('#showSimple').click(function () {
                $('#simpleButtons').show(1000);
                $('#moreFilters').hide(1000);
            });
            $('#customCheck1').change(function () {
                var IsPrivate = $("#customCheck1").is(":checked");
                $('#customCheck1').val(IsPrivate);
            });

        });
    </script>
}
