@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Мої події";
}


@using (Ajax.BeginForm("SearchRoom", new AjaxOptions
{
    UpdateTargetId = "searchresults",

}))
{

    <div>
        <input type="text" name="name" class="form-control pull-left" placeholder="Подія, кімната, організатор" />
        <input type="submit" value="Пошук" class="btn btn-primary pull-left" />
    </div>
}
<br />
<br />
<div id="searchresults" class="pull-left" style="width:100%;"></div>
<br />

<table class="table table-hover">

    <tr>
        <th>
            Кімната
        </th>
        <th>
            Подія
        </th>
        <th>
            Дата
        </th>
        <th>
            Час початку
        </th>
        <th>
            Час кінця
        </th>
        <th>
            Організатор
        </th>
        <th>
            Приватна
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr onclick="redirectTo(@item.ReservedId);">
            <td>
                
                @Html.DisplayFor(modelItem => item.Room.NameRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.ReservedDate)
                @item.ReservedDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTimeTo)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
            <td>
                @if (item.User.UserName == ViewBag.CurrentName)
                {
                    <p>
                        @Html.ActionLink("Редагувати", "Edit", new { id = item.ReservedId }, htmlAttributes: new { @class = "btn btn-default" })
                    </p>
                    <p>
                        @Html.ActionLink("Видалити", "Delete", new { id = item.ReservedId }, htmlAttributes: new { @class = "btn btn-default" })
                    </p>
                }
                else if (item.SelectedUsersEmails != null && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                {
                    <div>

                        <p>
                            @Html.ActionLink("Прийняти", "AcceptInvite", new
                       {
                           id = item.ReservedId,
                           email = ViewBag.CurrentName,
                           accept = true
                       }, new { @class="btn btn-default"})

                        </p>

                        <p>
                            @Html.ActionLink("Відхилити", "AcceptInvite", new
                       {
                           id = item.ReservedId,
                           email = ViewBag.CurrentName,
                           accept = false
                       }, new { @class="btn btn-default"})

                        </p>
                    </div>

                }
                else if (item.AcceptedEmails != null && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                {
                    <p>Прийнято</p>
                }

            </td>
        </tr>
    }

</table>
<br />
@if (Model.PageCount > 1)
{
    <span>
        Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

    </span>
}
@Html.PagedListPager(Model, page => Url.Action("MyEvents", new { page }))
<script>
    function redirectTo(id) {
        var url = "/Reserveds/Details/" + id;
        window.location.href = url;
    }
</script>

