@model IEnumerable<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@*@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
    @using PagedList.Mvc;*@
<!-- Start column -->
@if (Model == null)
{
    <div class="center-block text-center">
        <h5 class="text-warning">

            Збігів не знайдено <i class="fa fa-refresh fa-spin fa-fw"></i>
        </h5>
        <span class="sr-only">Loading...</span>
    </div>
    <script>
        setTimeout(function () {
            window.location.reload();
        }, 2000);
    </script>
}
else
{
    <div id="searchresults">
        @foreach (var item in Model)
        {


            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single-team-member">

                    <div class="team-content text-center" style="background-color:#fafafa;">
                        <div>
                            <span style="float:right;margin-right:10px;color:#3EC1D5;font-size:1.2em;">

                                <i class="fa fa-info-circle" aria-hidden="true" onclick="redirectTo(@item.ReservedId);" style="cursor:pointer;"></i>
                            </span>
                            <h4 style="color:#3ec1d5;">@Html.DisplayFor(modelItem => item.EventName)</h4>
                            <p>@Html.DisplayFor(modelItem => item.Room.NameRoom)</p>


                            <p>
                                <i class="fa fa-calendar"></i>
                                @Html.HiddenFor(modelItem => item.ReservedDate)
                                @item.ReservedDate.ToString("dd-MM-yyyy")

                            </p>
                            <p>
                                <i class="fa fa-hourglass-o" aria-hidden="true"></i>
                                @Html.DisplayFor(modelItem => item.ReservedTimeFrom) -
                                @Html.DisplayFor(modelItem => item.ReservedTimeTo)

                            </p>

                            <p>
                                <i class="fa fa-user" aria-hidden="true"></i>
                                @Html.DisplayFor(modelItem => item.User.UserName)

                            </p>
                            <p>
                                @if (item.IsPrivate)
                                {
                                    <i class="fa fa-lock"> Приватна</i>

                                }
                                else
                                {
                                    <i class="fa fa-unlock"> Публічна</i>
                                }
                                @Html.HiddenFor(modelItem => item.IsPrivate)

                            </p>




                            @if (item.User.UserName == ViewBag.CurrentName)
                            {
                                <p>
                                    <a href="@Url.Action("Edit",new
                                                    {
                                                        id = item.ReservedId
                                                    })" aria-label="Settings">
                                        <i class="fa fa-cog" aria-hidden="true"> Редагувати</i>
                                    </a>
                                    <a href="@Url.Action("Delete",new
                                                    {
                                                        id = item.ReservedId
                                                    })" aria-label="Delete">
                                        <i class="fa fa-trash-o text-danger" aria-hidden="true"> Видалити</i>
                                    </a>
                                </p>

                            }
                            else if (item.ReservedDate < DateTime.Today ||
                           (item.ReservedDate == DateTime.Today &&
                           item.ReservedTimeFrom < DateTime.Now.TimeOfDay))
                            {
                                <p>
                                    <i class="fa fa-hourglass-end" aria-hidden="true"> Подія вже відбулася</i>

                                </p>
                            }
                            else if (item.SelectedUsersEmails != null && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                            {
                                <div>

                                    <p>
                                        <a href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentName,
                                                        accept = true
                                                    })" aria-label="Settings">
                                            <i class="fa fa-check-circle text-success" aria-hidden="true"> Прийняти</i>
                                        </a>
                                        <a href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentName,
                                                        accept = false
                                                    })" aria-label="Settings">
                                            <i class="fa fa-times-circle text-danger" aria-hidden="true"> Відхилити</i>
                                        </a>
                                    </p>
                                </div>

                            }
                            else if (item.AcceptedEmails != null && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                            {
                                <p>
                                    <i class="fa fa-check-circle-o text-success" aria-hidden="true"> Прийнято</i>

                                    <a href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = false
                                                    })" aria-label="Settings">
                                        <i class="fa fa-times-circle text-danger" aria-hidden="true"> Скасувати</i>
                                    </a>
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
