@model IEnumerable<Booking.Models.ReservedViewModels.IndexReserveViewModel>
@*@model PagedList.IPagedList<Booking.Models.ReservedViewModels.IndexReserveViewModel>
    @using PagedList.Mvc;*@
<!-- Start column -->
@if (Model == null)
{
    <div class="center-block text-center">
        <h5 class="text-warning">

            Збігів не знайдено <i class="fa fa-refresh fa-spin fa-fw"></i>
        </h5>
        <span class="sr-only">Loading...</span>
    </div>
    <script>
        setTimeout(function () {
            window.location.reload();
        }, 2000);
    </script>
}
else
{
    <div id="searchresults">

        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="single-team-member">
                    <div class="team-content text-justify" style="background-color:#fafafa;padding:10px;">
                        <div style="text-align:center;">
                            <span style="float:right;margin-right:10px;color:#3EC1D5;font-size:1.2em;">

                                <i class="fa fa-info-circle" aria-hidden="true" onclick="redirectTo(@item.ReservedId);" style="cursor:pointer;"></i>
                            </span>
                            <h4 style="color:#3ec1d5;">
                                @Html.DisplayFor(modelItem => item.EventName)
                            </h4>

                            <p>
                                <i class="fa fa-home" aria-hidden="true">
                                    @Html.DisplayFor(modelItem => item.Room.NameRoom)
                                    <input name="name" value="@item.Room.NameRoom" hidden />
                                </i>
                            </p>
                            <span>

                                @Html.HiddenFor(modelItem => item.SelectedUsersEmails)
                                @Html.HiddenFor(modelItem => item.AcceptedEmails)
                                @Html.HiddenFor(modelItem => item.DeniedEmails)
                                @Html.HiddenFor(modelItem => item.Description)
                                @Html.HiddenFor(modelItem => item.RoomId)
                                @Html.HiddenFor(modelItem => item.UserId)
                            </span>

                            <p>


                                <span class="glyphicon glyphicon-calendar"></span>
                                @item.ReservedDate.ToString("dd-MM-yyyy")
                                <input name="name" value="@item.ReservedDate" hidden />

                            </p>
                            <p>

                                <span class="glyphicon glyphicon-time"></span>

                                @Html.DisplayFor(modelItem => item.ReservedTimeFrom) -
                                @Html.DisplayFor(modelItem => item.ReservedTimeTo)
                            </p>
                            <p>


                                <i class="fa fa-user" aria-hidden="true"></i>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                                <input name="name" value="@item.User.UserName" hidden />

                            </p>
                            <p>
                                @if (item.IsPrivate)
                                {
                                    <i class="fa fa-lock"> Приватна</i>

                                }
                                else
                                {
                                    <i class="fa fa-unlock"> Публічна</i>
                                }
                                @Html.HiddenFor(modelItem => item.IsPrivate)
                            </p>
                            <p>

                                @if (item.ReservedDate < DateTime.Today ||
                                (item.ReservedDate == DateTime.Today &&
                                item.ReservedTimeFrom < DateTime.Now.TimeOfDay))
                                {

                                    <i class="fa fa-hourglass-end" aria-hidden="true"> Подія вже відбулася</i>


                                }
                                else if (item.UserId == ViewBag.CurrentId)
                                {

                                    <a href="@Url.Action("Edit",new
                                                    {
                                                        id = item.ReservedId
                                                    })" aria-label="Settings">
                                        <i class="fa fa-cog" aria-hidden="true"> Редагувати</i>
                                    </a>
                                    <a href="@Url.Action("Delete",new
                                                    {
                                                        id = item.ReservedId
                                                    })" aria-label="Delete">
                                        <i class="fa fa-trash-o text-danger" aria-hidden="true"> Видалити</i>
                                    </a>
                                }
                                //прийняв, можливість скасувати
                                else if (!string.IsNullOrEmpty(item.AcceptedEmails) && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                                {

                                    <i class="fa fa-check-circle-o text-success" aria-hidden="true"> Прийнято</i>
                                    <a href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = false
                                                    })" aria-label="Settings">
                                        <i class="fa fa-times-circle text-danger" aria-hidden="true"> Скасувати</i>
                                    </a>
                                }
                                //запрошений, можливість прийняти/скасувати
                                else if (!string.IsNullOrEmpty(item.SelectedUsersEmails) && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                                {
                                    <a href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentEmail,
                                                        accept = true
                                                    })" aria-label="Settings">
                                        <i class="fa fa-check-circle text-success" aria-hidden="true"> Прийняти</i>
                                    </a>
                                    <a href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentEmail,
                                                        accept = false
                                                    })" aria-label="Settings">
                                        <i class="fa fa-times-circle text-danger" aria-hidden="true"> Відхилити</i>
                                    </a>
                                }
                                //не організатор, приватна
                                else if (item.IsPrivate)
                                {
                                    <span class="text-warning">
                                        Обмежений вхід
                                    </span>
                                }//публічна
                                else
                                {
                                    <a href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = true
                                                    })" aria-label="Settings">
                                        <i class="fa fa-check-circle text-success" aria-hidden="true"> Приєднатися</i>
                                    </a>
                                }
                            </p>


                            <div class="hidden">

                                @if (!item.IsPrivate && item.UserId != ViewBag.CurrentId)
                                {
                                    if (!string.IsNullOrEmpty(item.AcceptedEmails) && item.AcceptedEmails.Contains(ViewBag.CurrentName))
                                    {
                                        <a class="btn btn-default btn-default disabled" href="#" aria-label="Settings">
                                            <i class="fa fa-toggle-on text-success" aria-hidden="true"> Прийнято</i>
                                        </a>
                                        <a class="btn btn-default" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = false
                                                    })" aria-label="Settings">
                                            <i class="fa fa-times-circle text-danger" aria-hidden="true"> Скасувати</i>
                                        </a>
                                    }
                                    else if (!string.IsNullOrEmpty(item.SelectedUsersEmails) && item.SelectedUsersEmails.Contains(ViewBag.CurrentName))
                                    {
                                        <a class="btn btn-default" href="@Url.Action("AcceptInvite",new
                                                    {
                                                        id = item.ReservedId,
                                                        email = ViewBag.CurrentName,
                                                        accept = true
                                                    })" aria-label="Settings">
                                            <i class="fa fa-check-circle text-success" aria-hidden="true"> Прийняти</i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default" href="@Url.Action("ToCome",new
                                                    {
                                                        id = item.ReservedId,
                                                        toCome = true
                                                    })" aria-label="Settings">
                                            <i class="fa fa-check-circle text-success" aria-hidden="true"> Приєднатися</i>
                                        </a>

                                    }

                                }
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}